@model NewLife.School.Enity.Major
@using NewLife;
@using XCode;
@using XCode.Configuration;
@using NewLife.School.Enity
@{
    var entity = Model;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var isNew = (entity as IEntity).IsNullKey;
}
<div class="form-group col-xs-12 col-sm-6 col-lg-4">
    <label class="control-label col-xs-3 col-sm-3">专业名称</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Name" name="Name" type="text" value="@entity.Name" />
    </div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-lg-4">
    <label class="control-label col-xs-3 col-sm-3">系部名称</label>
    <div class="input-group col-xs-9 col-sm-5">
        @Html.ForDropDownList("DptID", Major.Meta.AllFields.First(e=>e.Name=="ClassName").Map.Provider.GetDataSource(), @entity.DptID)
    </div>
    <span class="hidden-xs col-sm-4"><span class="middle">系部</span></span>
</div>
<div class="form-group col-xs-12 col-sm-6 col-lg-4">
    <label class="control-label col-xs-3 col-sm-3">专业介绍</label>
    <div class="input-group col-xs-9 col-sm-9">
        <input class="form-control" id="Dptdescription" name="Dptdescription" type="text" value="@entity.Dptdescription" />
    </div>
</div>
@Html.Partial("_Form_Footer", entity)
@if (this.Has(PermissionFlags.Insert, PermissionFlags.Update))
{
    <div class="clearfix form-actions col-sm-12 col-md-12">
        <label class="control-label col-xs-4 col-sm-5 col-md-5"></label>
        <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-@(isNew ? "plus" : "save")"></i><strong>@(isNew ? "新增" : "保存")</strong></button>
        <button type="button" class="btn btn-danger btn-sm" onclick="history.go(-1);"><i class="glyphicon glyphicon-remove"></i><strong>取消</strong></button>
    </div>
}