@model NewLife.School.Enity.Student
@using NewLife;
@using XCode;
@using XCode.Configuration;
@using NewLife.School.Enity;

@{

    var entity = Model;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var isNew = (entity as IEntity).IsNullKey;


    ViewBag.hardvalue = new List<SelectListItem>();
    new SelectListItem() { Value = "0", Text = "xpy0989" };
    new SelectListItem() { Value = "1", Text = "cccccccc" };
   
    }
<script type="text/html">
   
</script>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">姓名</label>
        <div class="input-group col-xs-9 col-sm-9">
            <input class="form-control" id="Name" name="Name" type="text" value="@entity.Name" />
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">性别</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.ForEnum("Sex", @entity.Sex)
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">班级名称</label>
        <div class="input-group col-xs-9 col-sm-5">
            @Html.ForDropDownList("ClassID", Student.Meta.AllFields.First(e=>e.Name=="ClassName").Map.Provider.GetDataSource(), @entity.ClassID)
        </div>
        <span class="hidden-xs col-sm-4"><span class="middle">班号</span></span>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">出生日期</label>
        <div class="input-group col-xs-9 col-sm-9">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBox("BornDate", @entity.BornDate.ToFullString(""), new { @class = "form-control date form_datetime" })
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">系部</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.ForDropDownList("DptID", Student.Meta.AllFields.First(e => e.Name == "DptName").Map.Provider.GetDataSource(), @entity.DptID)
          
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">联系方式</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.TextBox("Phone", @entity.Phone, new { @class = "form-control", role="number" })
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">入学日期</label>
        <div class="input-group col-xs-9 col-sm-9">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBox("InDate", @entity.InDate.ToFullString(""), new { @class = "form-control date form_datetime" })
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">专业</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.ForDropDownList("MajorID", Student.Meta.AllFields.First(e=>e.Name=="MajorName").Map.Provider.GetDataSource(),@entity.MajorID)
            
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">政治面貌</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.ForEnum("Feature", @entity.Feature)
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label class="control-label col-xs-3 col-sm-3">权限</label>
        <div class="input-group col-xs-9 col-sm-9">
            @Html.TextBox("RoleID", @entity.RoleID, new { @class = "form-control", role="number" })
        </div>
    </div>
    @Html.Partial("_Form_Footer", entity)
    @if (this.Has(PermissionFlags.Insert, PermissionFlags.Update))
    {
    <div class="clearfix form-actions col-sm-12 col-md-12">
        <label class="control-label col-xs-4 col-sm-5 col-md-5"></label>
        <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-@(isNew ? " plus" : "save" )"></i><strong>@(isNew ? "新增" : "保存")</strong></button>
        <button type="button" class="btn btn-danger btn-sm" onclick="history.go(-1);"><i class="glyphicon glyphicon-remove"></i><strong>取消</strong></button>
    </div>
    }
