@model IList<NewLife.School.Enity.Class>
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using System.Web.Mvc;
@using System.Web.Mvc.Ajax;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var enableSelect = this.EnableSelect();
    //var provider = ManageProvider.Provider;
}
<table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            @if (enableSelect)
            {
                <th class="text-center" style="width:10px;"><input type="checkbox" id="chkAll" title="全选" /></th>
            }
            <th class="text-center hidden-md hidden-sm hidden-xs"><a href="@Html.Raw(page.GetSortUrl("ID"))">班级编号</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("Name"))">班级名称</a></th>
            <th class="text-center" title="系部"><a href="@Html.Raw(page.GetSortUrl("DptID"))">所属系部</a></th>
            <th class="text-center" title="教师"><a href="@Html.Raw(page.GetSortUrl("TeacherID"))">教师名称</a></th>
            <th class="text-center" title="专业"><a href="@Html.Raw(page.GetSortUrl("MajorID"))">专业名称</a></th>
            @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
            {
                <th class="text-center" style="min-width:100px;">操作</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                @if (enableSelect)
                {
                    <td class="text-center"><input type="checkbox" name="keys" value="@entity.ID" /></td>
                }
                <td class="text-center hidden-md hidden-sm hidden-xs">@entity.ID</td>
                <td>@entity.Name</td>
                <td><a href="Dpt?ID=@entity.DptID">@entity.DptName</a></td>
                <td><a href="Teacher?ID=@entity.TeacherID">@entity.TeacherName</a></td>
                <td><a href="Major?ID=@entity.MajorID">@entity.MajorName</a></td>
                @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <td class="text-center">
                        @Html.Partial("_List_Data_Action", (Object)entity)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>